<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  	<property name="hibernate.dialect">
  		org.hibernate.dialect.MySQLDialect
  	</property>

  	<property name="hibernate.connection.driver_class">
  		com.mysql.jdbc.Driver
  	</property>

  	<property name="hibernate.connection.url">
  		jdbc:mysql://b5e23f6e676231:9189c0ce@us-cdbr-iron-east-01.cleardb.net/heroku_e8bb3bc8d1dcdff?reconnect=true
  	</property>
   <property name="hibernate.connection.username">
      b5e23f6e676231
   </property>
   <property name="hibernate.connection.password">
      9189c0ce
   </property>

   <property name="cache.provider_class">
      org.hibernate.NoCacheProvider
   </property>
   
   <property name="hibernate.hbm2ddl.auto">
      update
   </property>

    <mapping class="net.mydrive.entities.User"/>
    <mapping class="net.mydrive.entities.MyFolder"/>
    <mapping class="net.mydrive.entities.MyFile"/>
    <mapping class="net.mydrive.entities.MyChunk"/>
    <mapping class="net.mydrive.entities.MyGoogleAccount"/>
  </session-factory>
</hibernate-configuration>